@use 'node_modules/@picocss/pico/scss/pico' with (
  $enable-semantic-container: true,
  $enable-classes: true,
  $enable-viewport: false
);
@import 'npm:@picocss/pico/scss/variables';

:root {
  --spacing: 0.75rem;
  --font-size: 1em;
}

iframe {
  width: 100%;
  height: 70vh;
}

[align="center"] {
  > nav {
    justify-content: center;
  }
}

td, details {
  > code {
    word-break: break-word;
  }
}

.split-nav, .split-even {
  display: grid;
  grid-column-gap: calc(var(--block-spacing-horizontal) * 3);
}

.split-nav {
  grid-template-columns: 200px auto;
}

.split-even {
  grid-template-columns: 50% auto;
}

form > .grid > div > a[role="button"] {
  width: 100%;
}

@media all and (max-width: map-get($breakpoints, 'sm')) {
  .sm-hidden { display: none; }

  .split-nav, .split-even {
    display: block;
  }
}
