<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TerminBot</title>
    <link rel="stylesheet" href="/dist/css/default.css">
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><strong>🤖 TerminBot</strong></li>
      </ul>
      <ul>
        <li><a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(**request.params), request:) %>" role="button" class="contrast">Home</a></li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
    <script src="/dist/js/index.js"></script>
  </body>
</html>
