<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TerminBot</title>
    <link rel="stylesheet" href="/dist/css/default.css">
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
    <script src="/dist/js/index.js"></script>
  </body>
</html>
