<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TerminBot<% unless @title.nil? || @title.empty? %> - <%= @title %><% end %></title>
    <link rel="stylesheet" href="/dist/css/default.css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/berlin_de.svg" type="image/svg+xml">
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li>
          <img class="logo dark-hidden" title="Berlin" src="/img/logo_berlin_m_srgb.svg" alt="Berlin">
          <img class="logo light-hidden" title="Berlin" src="/img/logo_berlin_m_negativ.svg" alt="Berlin">
          <span class="md-hidden">🤖</span>
          <strong class="sm-hidden">TerminBot</strong>
        </li>
      </ul>
      <ul>
        <li><a href="<%= ENV['TELEGRAM_BOT_URL'] %>" role="button" class="secondary outline">Telegram</a></li>
        <li><a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(**request.params), request:) %>" role="button" class="contrast">Runs</a></li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
    <script src="/dist/js/index.js"></script>
  </body>
</html>
